
*{
    padding: 0;
    margin: 0;
}

.img-logo{
    width:50px;
    height: auto;
}

section{
    height: 100vh;
}
#s2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    flex-wrap: wrap;
    gap: 7vw;
    
    
}

.s1-right{
    width: 600px;
    margin-top: 50px;
    font-family: sans-serif;
}

.imagem-s1{
    width: 300px;
    height: 300px;
    transition: all 150ms ease-in-out;  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:100%;
}

.imagem-s1:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrap-img{
    width: 400px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.s1-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.wrap-img{
    width: 200px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#s1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 7vw;

   
    
}
.imagemCU{
    width: 450px;
    height: 350px;
    margin-inline-end: 6%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    
}
.escritaCU{
    font-family: "Nunito", serif;
    width: 600px;
    margin-top: 0px;
    font-size:large;
    margin-inline-start: 6%;
}

#s3{
        margin-top: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        flex-wrap: wrap;
        background: rgb(0,0,0);
        background: linear-gradient(339deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 36%, rgba(0,0,0,1) 92%);

}
.cartao{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: all 150ms ease-in-out;
}
.cartao:hover{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #00ce2d;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    
}
.cartao2{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: all 150ms ease-in-out;
}
.cartao2:hover{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #ff6a00;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.cartao3{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: all 150ms ease-in-out;
}
.cartao3:hover{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #A349A4;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}


.wrap-img-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-height: 100px;
    
  
}

.button1{
    padding: 10px;
    border-radius: 999px;
    width: 80%;
    border: none;
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 200ms ease-in-out;
    font-family: "Nunito", serif;
    margin-left: 9%;
}

.button1:hover{
    color: rgb(255, 255, 255);
    border: 1.5px solid #00ce2d;
    transform: scale(1.1);
    
}

.button2{
    padding: 10px;
    border-radius: 999px;
    width: 80%;
    border: none;
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 200ms ease-in-out;
    font-family: "Nunito", serif;
    margin-left: 9%;
}

.button2:hover{
    color: rgb(255, 255, 255);
    border: 1.5px solid #ff6a00;
    transform: scale(1.1);
}

.button3{
    padding: 10px;
    border-radius: 999px;
    width: 80%;
    border: none;
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 200ms ease-in-out;
    font-family: "Nunito", serif;
    margin-left: 9%;
}

.button3:hover{
    color: rgb(255, 255, 255);
    border: 1.5px solid #A349A4;
    transform: scale(1.1);
}

#s4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding:7vh 0px;
    margin-top: 5%;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
}

.formulario button{
   padding: 10px;
   border-radius: 999px;
   width: 100%;
   border: none;
   background: none;
   color: rgb(0, 0, 0);
   border: 1px solid rgb(0, 0, 0);
   transition: all 200ms ease-in-out;
}

.formulario button:hover{
    color: rgb(0, 0, 0);
    border: 1.5px solid black;
    transform: scale(1.1);
 }
 

.formulario label{
   text-align: left;
   width: 100%;
   margin-left: 40px
 
 }

.formulario input{
    padding: 10px;
    border-radius: 999px;
    width: 100%;
 }

 footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(0,0,0);
background: linear-gradient(339deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 36%, rgba(0,0,0,1) 92%);
    min-height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10vh;
 }
 footer img{
   transition: all 300ms ease-in-out;
   opacity: 0.5;
 }
 footer img:hover{
    transform: scale(1.3); 
    opacity: 1;
 }

.s3-titulo{
    font-family: "Nunito", serif;
   
}



@media (width < 1000px) {

    #s2 {
        padding: 80px 20px 0px 20px;
        text-align: center; /* Centraliza conteúdo */
    }
    .wrap-img {
        width: 100%;
        display: flex;
        justify-content: center; /* Centraliza imagem */
    }
    .img-s1 {
        width: 100px;
        height: 100px;
    }
    #s1 {
        height: auto;
        text-align: center; /* Centraliza conteúdo */
    }
    .imagemCU {
        width: 350px;
        height: 270px;
        margin: 0 auto; /* Centraliza imagem */
    }
    .escritaCU{
        margin-right: 12px;
    }
    .formulario {
        width: 78%;
        margin: 0 auto; /* Centraliza formulário */
    }

    .cartao, .cartao2, .cartao3 {
        background-color: #020202a9;
        width: 90%; /* Ajusta a largura dos cards para 90% */
        max-width: 300px; /* Limite de largura máxima */
        height: auto; /* Ajusta a altura automaticamente */
        max-height: 350px; /* Limite de altura máxima */
        border: 2px solid #ffffff;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        transition: all 150ms ease-in-out;
    }

    .cartao:hover {
        border: 2px solid #00ce2d;
        opacity: 1;
        width: 90%; /* Ajusta a largura dos cards para 90% */
        max-width: 300px; /* Limite de largura máxima */
        height: auto; /* Ajusta a altura automaticamente */
        max-height: 350px; /* Limite de altura máxima */
    }

    .cartao2:hover {
        border: 2px solid #ff6a00;
        opacity: 1;
        width: 90%; /* Ajusta a largura dos cards para 90% */
        max-width: 300px; /* Limite de largura máxima */
        height: auto; /* Ajusta a altura automaticamente */
        max-height: 350px; /* Limite de altura máxima */
    }

    .cartao3:hover {
        border: 2px solid #A349A4;
        opacity: 1;
        width: 90%; /* Ajusta a largura dos cards para 90% */
        max-width: 300px; /* Limite de largura máxima */
        height: auto; /* Ajusta a altura automaticamente */
        max-height: 350px; /* Limite de altura máxima */
    }

    .wrap-img-card {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 0px;
        max-height: 0px;
        padding-left: 1000000px;
    }

    #s3 {
        margin-top: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 50px; /* Adiciona margem inferior */
        height: 1000px;
    }

    #s4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 30vh 0px;
    }
    .button1, .button2, .button3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
